@if (!!error) {
    <div class="error">{{ error }}</div>
}

<div>
    <a [routerLink]="['/']">Back to search</a>
</div>


@if (person) {
<div>
    <div>
        <h1>{{ person.name }}</h1>
    </div>
   
    <div class="secondary-text">
        Favorite Color: {{ person.favorite_color | titlecase }}
    </div>
    <br/>

    <div class="quotes" *ngFor="let quote of person.quotes | keyvalue">
        <div>"{{ quote.value.join(" ") }}"</div>
        <div class="secondary-text">{{ quote.key | number:'1.0':'en-US' }} Like{{quote.key > 1 ? 's' : '' }}</div>
    </div>
</div>
}